.container{
    width: 100vw;
    height: 50px;
    background-color: red;
    display: flex;
    justify-content: space-between;
    &-close{
        cursor: pointer;
        &-line{
            width: 50px;
            height: 4px;
            background-color: white;
        }
    }
}