<div class="container">
    <app-settings-menu></app-settings-menu>
    <app-settings-title content="game settings"></app-settings-title>
    <div class="container-game-settings">
        <div class="container-game-settings-wrapper">
            <app-option (checked)="changeOptVisible()" content="timer"></app-option>
            <div *ngIf="timerChecked">time: <input value="3" type="number"> sec</div>
        </div>
        <div class="container-game-settings-wrapper">
            <div>
                <span>number of questions: </span>
                <select [(ngModel)]="settings.numberOfquestions" *ngIf="!otherOption" (dblclick)="showOtherInp($event)" (change)="showOtherInp($event)" class="container-game-settings-wrapper-opt">
                    <option value="infinity" >infinity</option>
                    <option value="{{settings.numberOfquestions=='infinity'? 'other':settings.numberOfquestions}}" id="customOpt" >{{settings.numberOfquestions=='infinity'? 'other':settings.numberOfquestions}}</option>
                </select>
                <input value="{{settings.numberOfquestions}}" id="custom" (blur)="setCustomValue($event)"  *ngIf="otherOption" type="number" >
            </div>
            <div>
                <span>number range: </span>
                <input value="{{settings.numberRange[0]}}" type="number">
                <span>to</span>
                <input value="{{settings.numberRange[1]}}" type="number">
            </div>
        </div>
    </div>
    <app-settings-title content="mathematical operations"></app-settings-title>
    <div class="container-mathematical-operations">
        <div class="container-mathematical-operations-wrapper">
            <app-option (change)="changeSetting($event)" [isChecked]="settings.addition" class="container-mathematical-operations-wrapper-opt" content="addition" symbol="+"></app-option>
            <app-option (change)="changeSetting($event)" [isChecked]="settings.substraction" class="container-mathematical-operations-wrapper-opt" content="substraction" symbol="-"></app-option>
            <app-option (change)="changeSetting($event)" [isChecked]="settings.roots" class="container-mathematical-operations-wrapper-opt" content="roots"></app-option>
        </div>
        <div class="container-mathematical-operations-wrapper">
            <app-option (change)="changeSetting($event)" [isChecked]="settings.multiplication" class="container-mathematical-operations-wrapper-opt" content="multiplication" symbol="*"></app-option>
            <app-option (change)="changeSetting($event)" [isChecked]="settings.division" class="container-mathematical-operations-wrapper-opt" content="division" symbol=":"></app-option> 
            <app-option (change)="changeSetting($event)" [isChecked]="settings.negativeNumbers" class="container-mathematical-operations-wrapper-opt" content="negative numbers"></app-option>       
        </div>
    </div>
</div>