.button{
    cursor: pointer;
    width: 432px;
    height: 70px;
    border: 1px solid #FFFFFF;
    border-radius: 9px;
    background-color: #1E1E1E;
    text-align: center;
    line-height: 70px;
    &:hover{
        background-color: #302f2f;
    }
    &-text{
        color: #FFFFFF;
        font-size: 36px;
        font-family: 'quicksand', sans-serif;
    }
}