<app-settings-menu></app-settings-menu>
<div class="container">
    <app-title content="shortcuts"></app-title>
    <div class="container-wrapper">
        <div class="container-wrapper-shortcut"><img src="../../../assets/enter.png" alt="enter"><span  class="container-wrapper-shortcut-text"> - save answer</span></div>
        <div class="container-wrapper-shortcut"><img src="../../../assets/esc.png" alt="enter"><span  class="container-wrapper-shortcut-text"> - press for 1s to quit game</span></div>
        <div class="container-wrapper-shortcut"><img src="../../../assets/right-arrow.png" alt="enter"><span  class="container-wrapper-shortcut-text"> - next question</span></div>
        <div class="container-wrapper-shortcut"><img src="../../../assets/q.png" alt="enter"><span  class="container-wrapper-shortcut-text">  - show answer box/close answer box </span></div>
    </div>
</div>
