<div (click)="onChange()" class="menu">
    <div [ngClass]="this.menuService.getStatus()? 'menu-opener-active':'menu-opener'"></div>
</div>
<div [ngClass]="this.menuService.getStatus()? 'menu-content':'menu-content-disactive'" class="menu-content">
    <div *ngIf="this.menuService.getStatus() && isLogged==false" class="menu-content-btns">
        <app-button (click)="navigate('login')" class="menu-content-btns-btn" content="log in"></app-button>
        <app-button (click)="navigate('register')" class="menu-content-btns-btn" content="register"></app-button>
        <div class="menu-content-btns-wrapper">
            <app-block (click)="navigate('shortcuts')"  img="shortcuts.png" content="shortcuts"></app-block>
            <app-block (click)="navigate('history')"  img="history.png" content="history"></app-block>
            <app-block (click)="navigate('settings')" img="settings.png" content="settings"></app-block>
        </div>
    </div>
    <div *ngIf="this.menuService.getStatus() && isLogged" class="menu-content-btns up">
        <div class="menu-content-btns-text">
            <span class="menu-content-btns-text-username">Nickname</span>
            <br>
            <span class="menu-content-btns-text-subtitle">#1234</span>
        </div>
        <div class="menu-content-btns-wrapper">
            <app-block (click)="navigate('shortcuts')"  img="shortcuts.png" content="shortcuts"></app-block>
            <app-block (click)="navigate('gamemodes')"  img="gamemode.png" content="gamemodes"></app-block>
            <app-block (click)="navigate('history')"  img="history.png" content="history"></app-block>
        </div>
        <div class="menu-content-btns-wrapper">
            <app-block (click)="navigate('settings')" img="settings.png" content="settings"></app-block>
            <app-block (click)="navigate('friends')"  img="friends.png" content="friends"></app-block>
            <app-block (click)="navigate('profile')"  img="profile.png" content="profile"></app-block>
        </div>
    </div>

</div>
