.menu{
    cursor: pointer;
    z-index: 2;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-content{
        z-index: 1;
        width: 200vw;
        height: 200vh;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 0px 0px 0px 100%;
        background-color: #1E1E1E;
        transition: width 0.5s,height 0.5s; 
        &-disactive{
            width: 0;
            height: 0;
            transition: width 0.5s,height 0.5s; 
        }
        &-btns{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            margin-top: 30vh;
            height: 170px;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            animation-name: change;
            -webkit-animation-delay: 0.3s;
            -webkit-animation-fill-mode: forwards;
            animation-duration: 0.5s;
            &-wrapper{
                width: 100vw;
                margin-top: 15vh;
                display: flex;
                justify-content: space-evenly;
            }
            &-btn{
                margin: 20px;
            }
            &-text{
                position: absolute;
                top: -50px;
                left: 80px;
                font-family: 'roboto','sans-serif';
                &-username{
                    font-size: 45px;
                    color: white;
                }
                &-subtitle{
                    font-size: 25px;
                    color: #9E9E9E;
                }
            }
        }
    }
    &-opener{
        width: 50px;
        height: 7px;
        border-radius: 10px;
        background-color: #313131;
        
        &::after{
            content: "";
            width: 50px;
            height: 7px;
            position: absolute;
            top: 10px;
            border-radius: 10px;
            background-color: #313131;
        }
        &::before{
            content: "";
            width: 50px;
            height: 7px;
            position: absolute;
            bottom: 10px;
            border-radius: 10px;
            background-color: #313131;
        }
        &-active{
            width: 50px;
            height: 7px;
            background: #E6E6E6;
            border-radius: 10px;
            transform: rotate(45deg);
            animation-name: colorChange;
            animation-duration: 0.5s;
            animation-direction:alternate;
            &::after{
                content: "";
                width: 50px;
                height: 7px;
                position: absolute;
                top: 0px;
                border-radius: 10px;
                background-color: #E6E6E6;
                transform: rotate(-90deg);
                animation-name: colorChange;
                animation-duration: 0.5s;
                animation-direction:alternate;
            }
        }
    }
}
.up{
    margin-top: 10vh;
}

@keyframes colorChange {
    from {background-color: #313131;transform: rotate(0);}
    to {background-color: #E6E6E6;}
  }

  @keyframes change {
    from {opacity: 0;}
    to {opacity: 1;}
  }

