<app-settings-menu></app-settings-menu>
<div class="container">
    <div class="container-moveBtns"></div>
    <div class="container-panel">
        <app-title content="Login"></app-title>
        <div class="container-panel-inputs">
            <input class="container-panel-inputs-input" placeholder="name" type="text" >
            <input class="container-panel-inputs-input" placeholder="password" type="password">
        </div>
        <div>
            <app-button content="login"></app-button>
            <br>
            <span class="container-panel-addictional">
                no account? <a class="container-panel-addictional-link" href="/register">Register</a> 
            </span>
        </div>
    </div>
</div>