.calculations-container{
    height: 200px;
    width: fit-content;
    display: flex;
    align-items: center;
    &-calculation{
        letter-spacing: 0.4em;
        font-size: 128px;
        display: flex;
        font-family: 'Inter', sans-serif;
        &-wrapper{
            display: grid;
            align-items: center;
            justify-items: center;
            grid-template-columns: 300px 50px 300px 20px;
            grid-template-rows: 100px 70px 100px;
        }
    }
    &-number{
        height: 100px;
        width: 100px;
        background-color: #E2E2E2;
        overflow: hidden;
        border: 0;
        border-radius: 5px;
        font-size: 50px;
        font-family: 'Inter', sans-serif;
    }
}
#aMeter{
    grid-column: 1;
    grid-row: 1;
}
#bMeter{
    grid-column: 3;
    grid-row: 1;
}
#aDenominator{
    grid-column: 1;
    grid-row: 3;
}
#bDenominator{
    grid-column: 3;
    grid-row: 3;
}
#aLine{
    background-color: black;
    width: 50%;
    margin-right: 40px;
    height: 5px;
    grid-column: 1;
    grid-row: 2;
}
#bLine{
    background-color: black;
    width: 50%;
    margin-right: 40px;
    height: 5px;
    grid-column: 3;
    grid-row: 2;
}
#symbol{
    grid-column: 2;
    grid-row: 2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media only screen and (max-width: 650px){
    .calculations-container{
        &-calculation{
            font-size:9cqmax;
        }
        &-number{
            height: 70px;
            width: 70px;
            font-size: 30px;
        }
    }
}